@anthem.log
def add_xmlid_to_existing_locations(ctx):
    # this works if `base_dj` is installed
    model = ctx.env['stock.location'].with_context(dj_export=1)
    for item in model.search([]):
        item._dj_export_xmlid()


@anthem.log
def load_{{ sample.name }}(ctx):
    add_xmlid_to_existing_locations(ctx)
    deferred_import(
        ctx,
        'stock.location',
        '{{ sample.real_csv_path() }}',
        defer_parent_computation=True)


@anthem.log
def location_compute_parents(ctx):
    """Compute parent_left, parent_right"""
    deferred_compute_parents(ctx, 'stock.location')
