# -*- coding: utf-8 -*-
# Copyright {{ year }} Camptocamp SA
# License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl)
# -- This file has been generated --

import anthem
from ...common import (
    load_csv,
    deferred_import,
    deferred_compute_parents
)

{% for song in songs %}
{{ song.dj_render_template() }}

{% endfor %}

@anthem.log
def main(ctx):
    {% for s in songs %}
    load_{{ s.name }}(ctx){% endfor %}
