Developer README
================

Songs file generated for "{{ compilation.name }}" compilation:

* {{ compilation.disc_full_path() }}.


You are supposed to:

- copy/paste the whole `data/{{ compilation.data_mode}}/generated` into `odoo/data/{{ compilation.data_mode}}/`
- copy/paste the whole `songs/{{ compilation.data_mode}}/generated` into `odoo/songs/{{ compilation.data_mode}}/`


You should include it in the project `odoo/migration.yml` like this:

- anthem {{ compilation.anthem_path() }}


Full list of generated songs:

{% for song in compilation.song_ids %}
- anthem {{ song.anthem_path() }}{% if song.song_type == 'load_csv_defer_parent' %}
- anthem {{ song.anthem_path() + '_compute_parents' }}{% endif %}{% if song.has_records %}

Involved modules by this song:
{{ song._involved_modules_txt() }}

{% endif %}

{% endfor %}
