Developer README
================

Songs file generated for "{{ ', '.join(compilations.mapped('name')) }}" compilation(s):

{% for compilation in compilations %}
* {{ compilation.disc_full_path() }}{% endfor %}

You can put songs and data in the project by calling a specific invoke task in your project::

    invoke songs.rip path/to/exported/zipfile.zip

This is going to place files in the right places.

Then you should include it in the project `odoo/migration.yml` like this:

{% for compilation in compilations %}
- {{ compilation.anthem_path() }}{% endfor %}


Full list of generated songs:

{% for song in compilations.mapped('song_ids') %}
- anthem {{ song.anthem_path() }}{% if song.song_type == 'load_csv_defer_parent' %}
- anthem {{ song.anthem_path() + '_compute_parents' }}{% endif %}{% if song.has_records %}

Involved modules by this song:
{{ song._involved_modules_txt() }}

{% endif %}

{% endfor %}
