# -*- coding: utf-8 -*-
# Copyright {{ year }} Camptocamp SA
# License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl)
# -- This file has been generated --

# pylint: disable=C,E

import anthem
{%- if 'load_csv' in songs.mapped('song_type') %}
from ...common import load_csv
{%- endif %}
{%- if 'load_csv_defer_parent' in songs.mapped('song_type') %}
from ...common import (
    deferred_import,
    deferred_compute_parents
)
{%- endif %}

{% for song in songs %}
{%- if not song.scratchable() %}
{{ song.dj_render_template() }}
{% endif -%}
{% endfor %}


@anthem.log
def pre(ctx):
    {% for song in pre_songs %}
    {%- if not song.scratchable() -%}
    {{ song.name }}(ctx)
    {% endif -%}
    {% endfor %}


@anthem.log
def post(ctx):
    {% for song in post_songs %}
    {%- if not song.scratchable() -%}
    {{ song.name }}(ctx)
    {% endif -%}
    {% endfor %}
