{% set settings_vals = song.dj_get_settings_vals() %}
{% for song_name, company_aka, values in settings_vals %}
@anthem.log
def {{ song_name }}(ctx):
    """Setup {{ song.model_id.model }} for {{ company_aka }}."""
    model = ctx.env['{{ song.model_id.model }}'].with_context({{ song.song_model_context(as_string=True) }})
    model.create({
        {%- for key, value in values.items()|sort %}
        # {{ value['label'] }}
        '{{ key }}': {{ value['val'] }},
        {%- endfor %}
    }).execute()
{%- endfor %}

{% if settings_vals|length > 1 %}
@anthem.log
def {{ song.name }}(ctx):
    {% for song_name, company_aka, values in settings_vals %}{{ song_name }}(ctx)
    {% endfor %}
{% endif %}
