@anthem.log
def {{ song.name }}(ctx):
    model = ctx.env['{{ song.model_id.model }}'].with_context({{ song.song_model_context(as_string=True) }})  # noqa
    deferred_import(
        ctx,
        model,
        '{{ song.real_csv_path() }}',
        defer_parent_computation=True)
