@anthem.log
def {{ song.name }}(ctx):
    """ Import {{ song.model_id.model }} from csv """
    model = ctx.env['{{ song.model_id.model }}'].with_context({{ song.song_model_context(as_string=True) }}) {% if header_exclude %}
    header_exclude = {{ header_exclude }}
    load_csv(ctx, '{{ song.real_csv_path() }}', model, header_exclude=header_exclude) 
    if header_exclude:
        load_csv(ctx, '{{ song.real_csv_path() }}', model, header=['id', ] + header_exclude) {% else %}
    load_csv(ctx, '{{ song.real_csv_path() }}', model){% endif %}
