@anthem.log
def {{ song.name }}(ctx):
    model = ctx.env['{{ song.model_id.model }}'].with_context({{ song.model_context }})  # noqa
    deferred_import(
        ctx,
        model,
        '{{ song.real_csv_path() }}',
        defer_parent_computation=True)


@anthem.log
def {{ song.name }}_compute_parents(ctx):
    """Compute parent_left, parent_right"""
    deferred_compute_parents(ctx, '{{ song.model_id.model }}')
